<aside class="border-b border-webtv-border lg:border-r lg:border-b-0">
  <ul class="m-0 list-none py-4">
    <li><a href="/about" class="block px-6 py-4 transition hover:opacity-70"><i class="fas fa-address-card mr-2 inline-block w-5" aria-hidden="true"></i> About</a></li>
    <li><a href="/donate" class="block px-6 py-4 transition hover:opacity-70"><i class="fas fa-hand-holding-usd mr-2 inline-block w-5" aria-hidden="true"></i> Donate</a></li>
    <li><a href="/contact" class="block px-6 py-4 transition hover:opacity-70"><i class="fas fa-envelope mr-2 inline-block w-5" aria-hidden="true"></i> Contact</a></li>
    <li><a href="/mission" class="block px-6 py-4 transition hover:opacity-70"><i class="fas fa-flag-checkered mr-2 inline-block w-5" aria-hidden="true"></i> Our Mission</a></li>
  </ul>
</aside>
