---
import Base from './Base.astro';
const { frontmatter } = Astro.props
---

<Base {frontmatter}>
    <div class="gradient"></div>
    <div class="wrapper">
        <h1>{frontmatter.title}</h1>
        <slot />
    </div>
</Base>
