<footer class="bg-cceds-dark py-6 text-center text-white/75">
  <div class="mx-auto w-[min(1200px,calc(100%-2rem))]">
    Copyright &copy;2026 Coles County Express Delivery Services
  </div>
</footer>
