---
import Base from '../layouts/Base.astro';
---

<Base title="WebTV | Contact">
  <article class="card">
    <h1>Contact Us</h1>
    <form class="contact-form">
      <input type="text" placeholder="Name" />
      <input type="email" placeholder="Email" />
      <textarea rows="6" placeholder="Message"></textarea>
      <button type="button">Send Message</button>
    </form>
  </article>
</Base>
