/* Globals */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

:root {
    --color-primary: #15B881;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #525252;
    font-weight: 300;
}

body, body * { box-sizing: border-box; }

.wrapper {
    max-width: 1200px;
    margin: auto;
}

.wrapper:first-of-type {
    box-shadow: 0 -3px 10px 2px black;
    background-color: white;
}

.flex { display: flex; }

.flex-1 { flex: 1; }

.flex-2 { flex: 2; }

.flex-align { align-items: center; }

.flex-justify { justify-content: center; }

/* Inputs */

article input,
article textarea {
    padding: 1em;
    margin-bottom: 1em;
    width: 400px;
}

article button {
    padding: 1em;
    cursor: pointer;
}

/* Header */

header {
    background-color: #444444;
    color: white;
    padding: 20px 30px;
}

header input {
    padding: 1em;
    border-radius: 10px;
    border: none;
    background-color: rgba(255,255,255,0.3);
}

header input,
header input::placeholder { color: white; }

#logo img {
    max-width: 200px;
}

/* Navigation */

#navigation { 
    margin: 0;
    padding: 0; 
    background-color: white;
    border-bottom: 1px solid black;
}

#navigation li {
    display: inline-block;
}

#navigation a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 2em;
}

/* Hero */

#hero { background-color: white; }

#hero video {
    width: 100%;
}

/* Article */

article { 
    background-color: #E6E6E6;
    flex: 1;
    padding: 1em;
}

/* Sidebar */

aside {
    margin-right: 1em;
}

aside ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

aside a {
    display: block;
    padding: 1em 2em;
    color: black;
    text-decoration: none;
}

aside i { margin-right: 0.5em; }

aside ul li:first-of-type a { padding-top: 2em; }

aside ul li:last-of-type a { padding-bottom: 2em; }

/* Footer */

footer {
    margin-top: 1em;
    color: rgba(255,255,255,0.5);
}
